numpy==1.19.2
zipp==3.4.0
Cython==0.29.21
importlib_metadata==2.0.0
cryptography==3.1.1
brotlipy==0.7.0
lxml==4.6.1
tornado==6.0.4
docutils==0.16
pywin32==227
keyring==21.4.0
brotli==1.0.9
cx_Oracle==8.2.1
lockfile==0.12.2
monotonic==1.6
ordereddict==1.1
protobuf==3.17.3
pyOpenSSL==20.0.1
